<!doctype html>
<html lang="en">
<head>
    <link href='style.css' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/">НА ГОЛОВНУ</a>
<a href="/login"> Увійти</a>
<a href="/register">Зареєструватися</a>

<h1 style="color:red">
    Виникла помилка.
    <br>
</h1>
<h3 style="color:red">
   {{message}}
</h3>

<div id="footer">
    <a href="/baseofusers">База користувачів</a>
</div>
</body>
</html>